<ul>
	<li><a href="/catalog/">Home</a></li>
	<li><a href="/catalog/">About</a></li>
	<li><a href="/catalog/">Products</a></li>
	<li><a href="/catalog/">Contact</a></li>
	<li><a href="/catalog/">Privacy</a></li>
</ul>
<div class="fr">
    <ul>
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'register' %}">Sign Up</a>
                </li>
                <li>
                <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
            {% endif %}
            </li>
    </ul>
</div>

<div class="cb"></div>
