{% extends "base.html" %}
{% load catalog_filters search_tags%}


{% block site_wrapper %}
<div id="main">
	<div id="banner">
		<div class="cart_box">
			{% cart_box request %}
		</div>
		
		Modern Musician		
	</div>
	
	<div id="navigation">
        {% include "tags/navigation.html" %}
	</div>
	
	<div id="middle">
		<div id="sidebar">
		    {% search_box request %}
            {% category_list request.path %}
		</div>
			
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
	<div id="footer">
        {% footer_links %}
    </div>
	
</div>
{% endblock %}