.login-page {
    width: 100%;
    height: 100%!important;
    overflow: hidden;
    min-height: 675px;
    min-width: 360px;
    position: relative;
    padding: 0;
    margin: 0;
}

.backbground-img {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.form-box-login{
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    width: 320px;
    height: 320px;
    text-align: center;
    margin: -200px 0 0 -200px;
}

.form-login{
    background: white;
    min-height: 260px;
    margin-top: 20px;
}

.login-content{
    text-align: center;
}

.form-field{
    width: 240px;
    margin: 0 auto;
}

.form-label{
    margin-bottom:15px;
}

#id_username, #id_password{
    width:200px;
}

.form-field-input{
    margin: 3px 0 10px 0;
}